@use "home";
@use "world";

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.scaleout {
    animation: scalein .15s linear;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.vertical-bar {
    display: flex;
    content: '';
    width: 2px;
    height: auto;
    background-color: black;
    z-index: 100;
}

.quarterScale {
    transform: scale(.25);
}

.plotted-logo {
    transform-origin: center;
    position: relative;
    overflow: hidden;
    

    >.plotted-container {
        // max-width: 21.25rem;
        // max-height: 10.5rem;
        // min-width: 21.25rem;
        // min-height: 10.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        >.plotted-content-container {
            display: flex;
            flex-direction: row;
            transform: rotate3d(1, 0, 0, 60deg) rotate3d(0,0,1,45deg);
            transform-origin: center;
            max-height: 12rem;
            max-width: 12rem;

            .plotted-logo-text {
                width: 12rem;
                height: 3rem;
                transform: rotateZ(270deg) rotateX(180deg) skewX(45deg) translate(-102px, -88px);
                transform-origin: top right;
            
                &>span {
                    transform: rotateX(180deg) translateY(20px);
                    position: absolute;
                    font-size: 3.4rem;
                    text-shadow: 0px 0px 20px black;
                } 
            }

            >.plotted {
                display: flex;
                flex-direction: row;
                perspective-origin: bottom right;
                perspective: none;
                max-height: 12rem;
                border: 1px dashed white;
                border-right: none;
                border-bottom: none;
                >.slice {
                    display: flex;
                    flex-direction: column;
                    >span {
                        min-width: 3rem;
                        min-height: 3rem;
                        max-width: 3rem;
                        max-height: 3rem;
                        border-bottom: 1px dashed white;
                        border-right: 1px dashed white;
            
                        &.extendBorderTop::after {
                            position:relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: '';
                            bottom: 100%;
                            border-left: 1px dashed gray;
                            transform: translate(-1px, -1px);
                            border-right: 1px dashed gray;
                        }
                         
                        &.extendBorderBottom::after {
                            position:relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: '';
                            top: 100%;
                            border-left: 1px dashed gray;
                            transform: translate(-1px, -1px);
                            border-right: 1px dashed gray;
                        }
                        
                        &.extendBorderLeft::after {
                            position:relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: '';
                            right: 100%;
                            border-top: 1px dashed gray;
                            transform: translate(-1px, -1px);
                            border-bottom: 1px dashed gray;
                        }
            
                        &.extendBorderRight::after {
                            position:relative;
                            display: block;
                            width: 100%;
                            height: 100%;
                            content: '';
                            left: 100%;
                            border-top: 1px dashed gray;
                            transform: translate(-1px, -1px);
                            border-bottom: 1px dashed gray;
                        }
            
                    }
                }
            }
        }
    }
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .p-tabmenu-nav {
        background-color: transparent !important;
    
        .p-tabmenuitem {
            background-color: transparent !important;
    
            .p-menuitem-link {
                background-color: transparent !important;
            }
        }
    }
    .p-tabview-panels {
        display: none;
    }
}

::-webkit-scrollbar {
    background-color: var(--gray-900);
    width: .375rem;
    height: .375rem;
    border-radius: 100%;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray-700);
    border: var(--gray-700) 1px solid;
    border-radius: 5px;

    &:hover {
        border: var(--gray-700) 1px solid;
        background-color: var(--gray-600);
    }
}

::-webkit-scrollbar-track {
    background-color: var(--gray-900);
    border-radius: 5px;
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: var(--gray-600);
    }
    25% {
        stroke: var(--blue-800);
    }
    50% {
        stroke: var(--gray-600);
    }
    75% {
        stroke: var(--blue-800);
    }
}